.about {
    background-color: var(--clr-brand-beige);

    .content {
        display: grid;
        grid-template-columns: 480px 1fr;
        gap: 67px;
        padding: 10rem 0;
        
        .info-about {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
    
            .type-section,
            .title-section {
                text-align: start !important;
            }
        }

        @media only screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            
            .type-section,
            .title-section {
                text-align: center !important;
            }
        }
    }
}